.hero {
    background-color: var(--crna);
    height: 80vh;

    /* position: relative; */
    /* overflow: hidden; */

    filter: contrast(1.05);

    .container {
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 5;
    }


    .paragraph {
        max-width: 40rem;
        color: var(--siva3);
        margin-bottom: 4rem;

    }

    a {
        font-size: 2rem;
    }

    video {
        position: absolute;
        inset: 0;
        z-index: 3;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;

        mix-blend-mode: screen;
    }

    .hero-bg {
        /* background-image: url(); */
        position: absolute;
        z-index: 1;
        inset: 0;
        width: 100%;
        height: 100%;

        background-size: cover;
        background-position: center center;

        mix-blend-mode: screen;
    }

    .hero-cursor {
        position: absolute;
        z-index: 2;
        background-color: var(--primarna);
        width: 300px;
        aspect-ratio: 1/1;
        border-radius: 99999px;
        filter: blur(300px);
        pointer-events: none;
        transform: translate(-50%, -50%);

        mix-blend-mode: screen;
    }

}

.bg-gradient {
    position: absolute;
    inset: 0;

    background: linear-gradient(black 0%, transparent 20%, transparent 80%, black 100%);
}


.bg-stars {
    position: absolute;
    inset: 0;
    background-position: center;
    background-size: 100%;
    transform: translateY(3px);

    mix-blend-mode: screen;

    animation: hero-stars 4s infinite alternate ease;
}


@keyframes hero-stars {

    from{
        opacity: .2;
        scale: 100%;

    }

    to{
        opacity: 1;
        scale: 105%;

    }
    
}
