.project-body-template {
    padding-block: 10rem;

    h3 {
        font-size: 4rem;
        margin-bottom: 1rem;
    }

    p {
        color: var(--siva0);
        max-width: 520px;
    }
}

.project-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* programs */

.programs-section {
    margin-block: 10rem;
}

.programs-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}


/* gallery  */

.gallery-grid {
    padding-top: 2rem;
    margin-bottom: 4rem;

    /* column-count: 2; */
    gap: 6rem;

    iframe {
        aspect-ratio: 16/9;
    }

}

.gallery-title-container {
    padding: .5rem 2rem;
}

.gallery-title-container-video {
    padding: 1.5rem 2rem;
}

.gallery-img-wrap {
    cursor: pointer;
    position: relative;
    margin-bottom: 4rem;
    transition: .3s;

    &:hover {
        background-color: hsl(from var(--primarna) h s l /.1);
    }

    &:active {
        filter: contrast(.9);
    }
}

.gallery-img {
    position: relative;
    inset: 2px;
    width: calc(100% - 4px);
    overflow: hidden;
}

.div-half {
    min-height: 40rem;

    &.second-h{
        margin-top: 6rem;
    }
}

.project-text {
    color: var(--siva0);

    h3 {
        color: var(--bela);
        margin-bottom: 2rem;
    }

    h4 {
        color: var(--bela);
        font-weight: bold;
        font-size: 2.6rem;
        margin-bottom: .6rem;
        margin-top: 2rem;
    }

    strong {
        filter: brightness(1.3);
    }


    ul {
        padding-left: 0;
    }

    ul li {
        margin-bottom: 1em;
    }

    a {
        color: var(--primarna);
        text-decoration: underline;

        &:hover {
            color: var(--bela);
        }
    }
}