.title-section {
    padding-block: 8rem;

    .container {
        align-items: center;
    }
}

.h2-title {
    margin-bottom: 1.3rem;
}

.h3-subtitle {
    color: var(--primarna);
    /* font-size: 2.6rem; */
    font-size: clamp(1.5rem, 4vw, 3rem);
}


@keyframes ico-enter {
    from {
        scale: .9;
    }

    to {
        scale: 1;
    }
}

.title-grid {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
    grid-auto-flow: dense;
    justify-items: center;
    align-items: center;

    
    .ico{
        grid-column: span 2;
    }

    .wide {
        grid-column: span 6 !important;
    }

    .wide-pola {
        grid-column: span 3 !important;
    }

    /*  */
    &[data-category="design"],
    &[data-category="3d"] {

        .ico {
            grid-column: span 3;

            &:nth-of-type(3) {
                grid-column: span 6;
            }
        }
    }

    &[data-category="video"] {

        .ico {
            &:nth-of-type(1) {
                grid-column: span 4;
            }

            &:nth-of-type(2) {
                grid-column: span 6;
            }

            &:nth-of-type(3) {
                grid-column: span 4;
            }
        }
    }

    &[data-category="all"] {

        .ico {

            &:nth-of-type(7) {
                grid-column: span 2/4;
            }

            &:nth-of-type(8) {
                grid-column: span 2/6;
            }
        }
    }

    .ico-bg-shadow {
        width: 100px;
        margin-inline: auto;
    }

    .pl {
        padding-left: 40%;
    }

    .pr {
        padding-right: 40%;
    }
}

.tabs-zero-h {
    height: 0px;
    overflow: visible;
    position: relative;
    z-index: 4;
}

.tabs-grp {
    transform: translateY(-100%);

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;


    .tab {
        padding: .8rem 3rem;
        cursor: pointer;

        background: linear-gradient(to right,
                var(--primarna-5),
                hsl(from var(--primarna) h s l / 0),
                hsl(from var(--primarna) h s l / 0),
                var(--primarna-5));

        position: relative;

        clip-path: polygon(
                /* top left */
                1em 0,
                /* top right */
                calc(100% - 1em) 0, 100% 1em,
                /* bottom right */
                100% 100%,
                /* bottom left */
                0 100%, 0 1em);
        overflow: hidden;


        &:after {
            content: "";
            position: absolute;
            z-index: -1;
            inset: 2px;
            background: var(--siva-4);

            clip-path: polygon(
                    /* top left */
                    1em 0,
                    /* top right */
                    calc(100% - 1em) 0, 100% 1em,
                    /* bottom right */
                    100% 100%,
                    /* bottom left */
                    0 100%, 0 1em);
            overflow: hidden;
        }
    }

    .tab+:not(.active):hover {
        background: linear-gradient(to right,
                var(--primarna),
                hsl(from var(--primarna) h s l / 0.2),
                hsl(from var(--primarna) h s l / 0.2),
                var(--primarna));

        &:after {
            box-shadow: inset 0 0 40px hsl(from var(--primarna) h s l / .2);
        }
    }

    .active {
        background: var(--primarna);
        color: white;

        &:after {
            background: var(--primarna);
        }
    }

}